body {
  width: 100%;
  height: 100%;
  margin: 0;

}

h1 {
  text-align: center;
}

nav{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

nav a {
  background-color: grey;
}

section {
text-align: center;
}

section figcaption{
  font-size: 10px;
}

#featured-property img {
text-align: center;

}

#featured-property p{
  text-align: center;
  padding-left: 20%;
  padding-right:20%;


}

#details{
  display: block;
  background-color: red;
}

#details div{
  float: left;
  background-color: red;
}
